# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/


## Personal
# Test database
*/test.db


# Database Package tests
# Note: Must keep at least one database so that the testing directory exist in Travis CI and the tests pass
database/testing/add_feed_url.db
database/testing/add_tag.db
database/testing/add_tag_to_feed.db
database/testing/all_active_feed_tags.db
database/testing/all_active_feeds.db
database/testing/delete_all_tags_from_feed.db
database/testing/delete_feed.db
database/testing/delete_tag_from_feed.db
database/testing/filter_feeds.db
database/testing/filter_feed_tags.db
database/testing/is_feed_deleted.db
database/testing/undelete_feed.db
database/testing/get_feed_id.db
database/testing/get_tag_id.db
database/testing/get_feed_tag_id.db
database/testing/is_feed_tag_deleted.db
database/testing/undelete_feed_tag.db
database/testing/add_author.db
database/testing/get_author.db
database/testing/get_feed_author_id.db
database/testing/get_feed_raw_data.db
database/testing/get_feed_title.db
database/testing/update_feed_author.db
database/testing/update_feed_raw_data.db
database/testing/update_feed_title.db
database/testing/add_epiode.db
database/testing/get_episode.db
database/testing/mark_episode_as_seen.db
database/testing/get_feed_episode_ids.db
database/testing/get_feed_episode_seen_ratio.db
