# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/


## Personal
# Test database
*/test.db


# Database Package tests
# Note: Must keep at least one database so that the testing directory exist in Travis CI and the tests pass
database/testing/add_feed_url.db
database/testing/add_tag.db
database/testing/add_tag_to_feed.db
database/testing/all_active_feed_tags.db
database/testing/all_active_feeds.db
database/testing/delete_all_tags_from_feed.db
database/testing/delete_feed.db
database/testing/delete_tag_from_feed.db
database/testing/filter_feeds.db
database/testing/filter_feed_tags.db
database/testing/is_feed_deleted.db
